name: Deploy

on:
  push:
    branches:
      - main
#
jobs:
  deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        brand: ['12BET, '888', 'BETWAY', 'CASINO', 'CLEAN', 'LETOU', 'MANBET', 'SPORTSBETTING', 'W88','WC22']
        account: ['7hrkdr', '8isles', '8isles2']
    steps:
      - uses: actions/checkout@v4
      - name: Deploy
        uses: cloudflare/wrangler-action@v3
        continue-on-error: true
        with:
          apiToken: ${{ secrets.CLOUDFLARETOKEN }}
          workingDirectory: ${{ matrix.brand }}/${{ matrix.account }}
