name: Deploy

on:
  push:
    branches:
      - main
#
jobs:
  deploy:
    strategy:
      matrix:
        brand: ['12BET']
        config: ['7hrkdr.toml', '8isles.toml', '8isles2.toml']  # Add all config files here
    steps:
      - uses: actions/checkout@v4
      - name: Deploy
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARETOKEN }}
          workingDirectory: ${{ matrix.brand }}
          configPath: ${{ matrix.brand }}/${{ matrix.config }}
